/* write your override styles here */
div.tag-1,
div#wall > div#tag-2,
div#wall > div#tag-3.slick,
div#wall > div.parent > div.tag-4,
div#wall > div.parent > div.tag-5.slick,
body div#wall > div.parent > div:last-child div#tag-6
{
    display: none;
}

body div#wall div.parent div:first-child > div#tag-7.slick{
    display: none;
}